<section class="u-align-center u-clearfix u-container-align-center u-section-4" id="carousel_4040">
    <div class="u-container-style u-expanded-width u-group u-image u-shading u-image-1" data-image-width="1620"
      data-image-height="1080">
      <div class="u-container-layout u-valign-top u-container-layout-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Our Services</h2>
      </div>
    </div>
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-center u-border-1 u-border-palette-2-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
            <img class="u-expanded-width u-image u-image-default u-image-2" src="assets/images/32.jpg" alt=""
              data-image-width="900" data-image-height="600">
            <h4 class="u-hover-feature u-text u-text-2">Sport Activities</h4>
            <p class="u-hover-feature u-text u-text-3">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt</p>
            <a href="https://nicepage.online"
              class="u-border-1 u-border-active-black u-border-hover-black u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-hover-feature u-none u-radius-0 u-text-active-palette-2-base u-text-hover-palette-2-base u-text-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-1">more</a>
          </div>
        </div>
        <div
          class="u-align-center u-border-1 u-border-palette-2-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-2">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <img class="u-expanded-width u-image u-image-default u-image-3" src="assets/images/1.jpg" alt=""
              data-image-width="900" data-image-height="600">
            <h4 class="u-hover-feature u-text u-text-4">Internet Access </h4>
            <p class="u-hover-feature u-text u-text-5">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt</p>
            <a href="https://nicepage.one"
              class="u-border-1 u-border-active-black u-border-hover-black u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-hover-feature u-none u-radius-0 u-text-active-palette-2-base u-text-hover-palette-2-base u-text-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-2">more</a>
          </div>
        </div>
        <div
          class="u-align-center u-border-1 u-border-palette-2-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
            <img class="u-expanded-width u-image u-image-default u-image-4" src="assets/images/777.jpg" alt=""
              data-image-width="900" data-image-height="600">
            <h4 class="u-hover-feature u-text u-text-6"> Climbing Instructor</h4>
            <p class="u-hover-feature u-text u-text-7">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt</p>
            <a href="https://nicepage.com/website-builder"
              class="u-border-1 u-border-active-black u-border-hover-black u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-hover-feature u-none u-radius-0 u-text-active-palette-2-base u-text-hover-palette-2-base u-text-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-3">more</a>
          </div>
        </div>
        <div
          class="u-align-center u-border-1 u-border-palette-2-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-4">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
            <img class="u-expanded-width u-image u-image-default u-image-5" src="assets/images/dfdf.jpg" alt=""
              data-image-width="900" data-image-height="600">
            <h4 class="u-hover-feature u-text u-text-8"> Mountain Bikes</h4>
            <p class="u-hover-feature u-text u-text-9">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt</p>
            <a href="https://nicepage.me"
              class="u-border-1 u-border-active-black u-border-hover-black u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-hover-feature u-none u-radius-0 u-text-active-palette-2-base u-text-hover-palette-2-base u-text-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-4">more</a>
          </div>
        </div>
      </div>
    </div>
    <p class="u-align-center u-text u-text-10">Images from <a href="https://www.freepik.com/"
        class="u-border-1 u-border-active-palette-3-base u-border-black u-border-hover-palette-3-base u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-none u-radius-0 u-text-body-color u-top-left-radius-0 u-top-right-radius-0 u-btn-5"
        target="_blank">Freepik</a>
    </p>




























  </section>
