<div class="activities">
	<div class="container-center">
    <div class="super-padding">
		<h1>Our Services</h1>
    </div>
  </div>
</div>
<div class="activities-overlay">
  <div class="container-center">
		<div class="row-card">
      <div class="card">
        <img class="card-img" src="assets/images/chicamapa.jpg" alt="Image Alt Text">
        <h4 class="card-title">SPORT ACTIVITIES</h4>
        <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
        <a class="card-more" href="google.com">More</a>
      </div>
      <div class="card">
        <img class="card-img" src="assets/images/chicopalo.jpg" alt="Image Alt Text">
        <h4 class="card-title">INTERNET ACCESS</h4>
        <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
        <a class="card-more" href="google.com">More</a>
      </div>
      <div class="card">
        <img class="card-img" src="assets/images/chicamapa2.jpg" alt="Image Alt Text">
        <h4 class="card-title">INSTRUCTOR</h4>
        <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
        <a class="card-more" href="google.com">More</a>
      </div>
      <div class="card">
        <img class="card-img" src="assets/images/chicovistas.jpg" alt="Image Alt Text">
        <h4 class="card-title">MOUNTAIN BIKES</h4>
        <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
        <a class="card-more" href="google.com">More</a>
      </div>
		</div>
  </div>
</div>

