<div class="footer">
  <address>
    <p class="text-footer">Web desarrollada por <a href="https://www.linkedin.com/in/sara-moreira-g" target="_blank"
        aria-label="Sara Moreira García's LinkedIn Profile">Sara Moreira García</a></p>
    <p class="text-footer">Email: <a href="mailto:saramordev@gmail.com" class="format">saramordev@gmail.com</a></p>
    <p class="text-footer">Phone: <a href="tel:+34699375412" class="format">+34 699 37 54 12</a></p>
    <a class="nav-button" (click)="navigateToBookings()">Try Web Booking</a>
  </address>
</div>
