<div class="about">
  <div class="container-center">
    <div class="row about-content">
      <div class="left col-lg-4 col-md-12">
        <div class="rounded-image" aria-hidden="true"></div>
      </div>
      <div class="right col-lg-7 col-md-9">
        <h2 class="mb-4">Acerca de Nosotros</h2>
        <p>Disfruta de una experiencia única en nuestra encantadora casa de alquiler en Puebla de Sanabria. tendrás la
          oportunidad de escapar del ajetreo y el bullicio de la vida cotidiana y sumergirte en la belleza natural de
          esta pintoresca localidad. Con un ambiente rústico y todas las comodidades modernas, nuestra casa es el lugar
          perfecto para relajarte y explorar las maravillas de Puebla de Sanabria.</p>
        <button class="btn-medium" aria-label="Reserva ahora" (click)="scrollTo('booking')">Reserva ahora</button>
      </div>
    </div>
  </div>
</div>
