
<section class="u-clearfix u-container-align-center u-section-2" id="carousel_1e1e">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div
              class="u-align-center u-container-align-center u-container-style u-layout-cell u-left-cell u-size-23-lg u-size-23-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <div alt="" class="u-border-10 u-border-palette-2-base u-image u-image-circle u-image-1" src=""
                  data-image-width="740" data-image-height="1110" data-animation-name="customAnimationIn"
                  data-animation-duration="1500" data-animation-delay="500"></div>
              </div>
            </div>
            <div
              class="u-align-left u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-right-cell u-size-37-lg u-size-37-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2"
              data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-1"
                  data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
                  About Us</h2>
                <p class="u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-2">Paragraph. Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet
                  purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet
                  dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit
                  amet.</p>
                <a href="https://nicepage.com/joomla-templates"
                  class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-palette-2-base u-radius-50 u-btn-2">Book
                  now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
