<div class="about">
  <div class="container">
    <div class="left">
      <div class="rounded-image"></div>
    </div>
    <div class="right">
      <h2>About Us</h2>
      <p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.</p>
      <button class="btn-medium">Book now</button>
    </div>
  </div>
</div>
