.contact {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/assets/images/couple.jpg');
	background-position: 50% 50%;
	background-size: contain;
	color: #fff;
}

@media screen and (max-width: 1122px) {
	.contact {
		background-size: cover;
		background-repeat: no-repeat;
	}
}

p {
	letter-spacing: 2px;
	margin: 32px 0 32px 0;
	line-height: 1.8;
}

.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

input {
	height: 50px;
	border: none;
	outline: none;
}

textarea {
	outline: none;
}

input:focus,
textarea:focus {
	border: 3px solid #a79770;
}
