<div class="contact">
	<div class="row">
	<div class="left col-6">
		<h2>Contact Us</h2>
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
			laborum.</p>
		<button class="btn-white">Contact us</button>
	</div>
	<div class="right ps-5 col-5">
		<div class="input-group">
			<p class="m-1">Name and surname</p>
			<input type="text" />
		</div>
		<div class="input-group">
			<p class="m-1">Email</p>
			<input type="text" />
		</div>
		<div class="input-group">
			<p class="m-1">Message</p>
			<textarea rows="6"></textarea>
		</div>
		<button class="btn-medium">Submit</button>
	</div>
	</div>
</div>
