<div class="gallery">
  <div class="container-center">
    <h1>Find your next getaway</h1>
    <p class="text-header">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <section class="row-card">
      <article class="card card1">
        <div class="card-content">
          <h4>BEST RV CAMPING</h4>
          <p>Sample text. Click to select the Text Element.</p>
        </div>
      </article>
      <article class="card card2">
        <div class="card-content">
          <h4>BEST RV CAMPING</h4>
          <p>Sample text. Click to select the Text Element.</p>
        </div>
      </article>
      <article class="card card3">
        <div class="card-content">
          <h4>BEST RV CAMPING</h4>
          <p>Sample text. Click to select the Text Element.</p>
        </div>
      </article>
      <article class="card card4">
        <div class="card-content">
          <h4>BEST RV CAMPING</h4>
          <p>Sample text. Click to select the Text Element.</p>
        </div>
      </article>
      <article class="card card5">
        <div class="card-content">
          <h4>BEST RV CAMPING</h4>
          <p>Sample text. Click to select the Text Element.</p>
        </div>
      </article>
      <div class="card card6">
        <div class="card-content">
          <h4>BEST RV CAMPING</h4>
          <p>Sample text. Click to select the Text Element.</p>
        </div>
      </div>
    </section>
  </div>
</div>
