<div class="gallery">
  <div class="container-center">
    <h1>Encuentra tu próximo refugio</h1>
    <p class="text-header">
      Explora nuestra encantadora casa de alquiler en Puebla de Sanabria, donde la comodidad y la naturaleza se unen
      para brindarte una experiencia inolvidable.
    </p>
    <section class="row-card">
      <article class="card card1">
        <div class="card-content">
          <h4>VISTAS PANORÁMICAS</h4>
          <p>Disfruta de impresionantes vistas de la montaña y el paisaje circundante desde la comodidad de tu hogar temporal.</p>
        </div>
      </article>
      <article class="card card2">
        <div class="card-content">
          <h4>COMODIDADES MODERNAS</h4>
          <p>Nuestra casa está equipada con todas las comodidades modernas para que te sientas como en casa durante tu estancia.</p>
        </div>
      </article>
      <article class="card card3">
        <div class="card-content">
          <h4>NATURALEZA A TU PUERTA</h4>
          <p>Sal a explorar la belleza natural que rodea nuestra casa. Senderos, ríos y aventuras te esperan.</p>
        </div>
      </article>
      <article class="card card4">
        <div class="card-content">
          <h4>DESCUBRE LA CULTURA</h4>
          <p>Sumérgete en la rica cultura de Puebla de Sanabria. Explora sus calles empedradas y su encanto histórico.</p>
        </div>
      </article>
      <article class="card card5">
        <div class="card-content">
          <h4>RELÁJATE Y DESCANSA</h4>
          <p>Un lugar perfecto para desconectar y relajarte. Disfruta de la tranquilidad y la paz que nuestra casa ofrece.</p>
        </div>
      </article>
      <article class="card card6">
        <div class="card-content">
          <h4>RESERVA TU ESTANCIA</h4>
          <p>¡Haz tu reserva ahora y experimenta la magia de Puebla de Sanabria desde nuestra casa de alquiler!</p>
        </div>
      </article>
    </section>
  </div>
</div>
