<div class="gallery">
  <div class="container-center">
    <h1>Encuentra tu próximo refugio</h1>
    <p class="text-header">
      Explora nuestra encantadora casa de alquiler en Puebla de Sanabria, donde la comodidad y la naturaleza se unen
      para brindarte una experiencia inolvidable.
    </p>
    <section class="row-card">
      <!----------- CARD 1 ------------>
      <article class="card" [style.background-image]="'url(' + card1Photo + ')'">
        <div class="card-content">
          <h4>VISTAS PANORÁMICAS</h4>
          <p>Disfruta de impresionantes vistas de la montaña.
            temporal.</p>
        </div>
        <!-- Previus Photo Arrow -->
        <div class="prev-arrow" *ngIf="!isFirstCard1" (click)="prevImageCard1()">
          <span>&rarr;</span>
        </div>
        <!-- Next Photo Arrow -->
        <div class="next-arrow" *ngIf="!isLastCard1" (click)="nextImageCard1()">
          <span>&rarr;</span>
        </div>
      </article>
      <!----------- CARD 2 ------------>
      <article class="card" [style.background-image]="'url(' + card2Photo + ')'">
        <div class="card-content">
          <h4>COMODIDADES MODERNAS</h4>
          <p>Nuestra casa está equipada con todas las comodidades.</p>
        </div>
        <div class="prev-arrow" *ngIf="!isFirstCard2" (click)="prevImageCard2()">
          <span>&rarr;</span>
        </div>
        <div class="next-arrow" *ngIf="!isLastCard2" (click)="nextImageCard2()">
          <span>&rarr;</span>
        </div>
      </article>
      <!----------- CARD 3 ------------>
      <article class="card" [style.background-image]="'url(' + card3Photo + ')'">
        <div class="card-content">
          <h4>NATURALEZA A TU PUERTA</h4>
          <p>Sal a explorar la belleza natural que rodea nuestra casa.</p>
        </div>
        <div class="prev-arrow" *ngIf="!isFirstCard3" (click)="prevImageCard3()">
          <span>&rarr;</span>
        </div>
        <div class="next-arrow" *ngIf="!isLastCard3" (click)="nextImageCard3()">
          <span>&rarr;</span>
        </div>
      </article>
      <!----------- CARD 4 ------------>
      <article class="card" [style.background-image]="'url(' + card4Photo + ')'">
        <div class="card-content">
          <h4>DESCUBRE LA CULTURA</h4>
          <p>Sumérgete en la rica cultura de Puebla de Sanabria.
          </p>
        </div>
        <div class="prev-arrow" *ngIf="!isFirstCard4" (click)="prevImageCard4()">
          <span>&rarr;</span>
        </div>
        <div class="next-arrow" *ngIf="!isLastCard4" (click)="nextImageCard4()">
          <span>&rarr;</span>
        </div>
      </article>
      <!----------- CARD 5 ------------>
      <article class="card" [style.background-image]="'url(' + card5Photo + ')'">
        <div class="card-content">
          <h4>RELÁJATE Y DESCANSA</h4>
          <p>Un lugar perfecto para desconectar y relajarte.</p>
        </div>
        <div class="prev-arrow" *ngIf="!isFirstCard5" (click)="prevImageCard5()">
          <span>&rarr;</span>
        </div>
        <div class="next-arrow" *ngIf="!isLastCard5" (click)="nextImageCard5()">
          <span>&rarr;</span>
        </div>
      </article>
      <!----------- CARD 6 ------------>
      <article class="card card6">
        <a href="https://www.airbnb.es/rooms/945766271880521378?guests=1&adults=1&s=67&unique_share_id=5c02826d-96e3-4941-9fd2-463ae68d8f51" target="_blank">
          <div class="card-content booking">
          <h4>RESERVA TU ESTANCIA</h4>
          <p>¡Haz tu reserva ahora y experimenta la magia de Puebla de Sanabria!</p>
        </div>
      </a>
      </article>
    </section>
  </div>
</div>
