<div class="banner">
	<div class="container-center text-start">
		<h2>Plan Your Camping Trip</h2>
		<ul class="custom-list">
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Lorem ipsum dolor sit amet</li>
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Ut enim ad minim veniam</li>
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Excepteur sint occaecat cupidatat</li>
		</ul>
		<button class="btn-medium" aria-label="Book now">Book now</button>
	</div>
</div>
