
<section class="u-clearfix u-container-align-left u-image u-shading u-section-6" id="carousel_755f"
data-image-width="1380" data-image-height="920">
<div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
  <h2 class="u-align-left u-text u-text-default u-text-1" data-animation-name="customAnimationIn"
	data-animation-duration="1500" data-animation-delay="500"> Plan Your Camping Trip</h2>
  <ul
	class="u-align-left u-custom-list u-file-icon u-large-text u-text u-text-body-alt-color u-text-variant u-text-2"
	data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
	<li style="padding-left: 11px;">
	  <div class="u-list-icon u-text-palette-2-base">
		<svg class="u-svg-content" viewBox="0 0 512 512" id="svg-acb8" style="font-size: 0.9em; margin: -0.9em;">
		  <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path>
		</svg>
	  </div> Lorem ipsum dolor sit amet
	</li>
	<li style="padding-left: 11px;">
	  <div class="u-list-icon u-text-palette-2-base">
		<svg class="u-svg-content" viewBox="0 0 512 512" id="svg-acb8" style="font-size: 0.9em; margin: -0.9em;">
		  <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path>
		</svg>
	  </div> Ut enim ad minim veniam
	</li>
	<li style="padding-left: 11px;">
	  <div class="u-list-icon u-text-palette-2-base">
		<svg class="u-svg-content" viewBox="0 0 512 512" id="svg-acb8" style="font-size: 0.9em; margin: -0.9em;">
		  <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path>
		</svg>
	  </div> Excepteur sint occaecat cupidatat
	</li>
  </ul>
  <p class="u-align-left u-text u-text-body-alt-color u-text-default u-text-3"
	data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Image from <a
	  href="https://www.freepik.com"
	  class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-none u-radius-0 u-text-body-alt-color u-top-left-radius-0 u-top-right-radius-0 u-btn-1"
	  target="_blank">Freepik</a>
  </p>
  <a href="https://nicepage.com/html-templates"
	class="u-align-left u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-palette-2-base u-radius-50 u-btn-2"
	data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Book now</a>
</div>
</section>
