.services {
	padding: 60px 9em 80px 9em;
  }

  .container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
  }

  .left {
	flex-basis: 40%;
  }
  .right {
	flex-basis: 40%;
  }

  .right p {
	font-size: 1.125rem;
	line-height: 1.8;
	margin-bottom: 40px;
  }

  .custom-list {
	list-style-type: none;
	padding-left: 0;
  }

  .custom-list li{
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	line-height: 2.2;
  }

  .fa-check{
	color: #a79770;
	font-size: 0.8em;
	line-height: 0.9;
	font-weight: bold;
  }

.btn-medium{
	margin-top: 33px;
}
