<div class="services">
  <div class="container">
    <div class="left">
      <h3>Available to campsite guests:</h3>
      <ul class="custom-list">
        <li><i class="fa-solid fa-check"></i>  store (with eco products)</li>
        <li><i class="fa-solid fa-check"></i>  children's playground with a climbing wall</li>
        <li><i class="fa-solid fa-check"></i>  climbing tower * 8 m high; suitable for beginners as well as professional climbers.</li>
        <li><i class="fa-solid fa-check"></i>  volleyball court</li>
        <li><i class="fa-solid fa-check"></i>  bike hire (also for children)</li>
        <li><i class="fa-solid fa-check"></i>  mountain bike hire * also for children</li>
        <li><i class="fa-solid fa-check"></i>  pétanque court</li>
        <li><i class="fa-solid fa-check"></i>  table for table tennis</li>
        <li><i class="fa-solid fa-check"></i>  table tennis balls and bats for hire</li>
        <li><i class="fa-solid fa-check"></i>  use of washing- and drying machine</li>
        <li><i class="fa-solid fa-check"></i>  internet access</li>
      </ul>
    </div>
    <div class="right">
      <h3>In the campsite, you can: </h3>
      <ul class="custom-list">
        <li><i class="fa-solid fa-check"></i>  hire a climbing instructor</li>
        <li><i class="fa-solid fa-check"></i>  buy kayaking permits(price list)</li>
        <li><i class="fa-solid fa-check"></i>  buy fishing permits (price list)</li>
      </ul>
      <h3>Info centre for paragliders:</h3>
      <ul class="custom-list">
        <li><i class="fa-solid fa-check"></i>  all information about weather conditions for flights</li>
        <li><i class="fa-solid fa-check"></i>  para-taxi takes you to the runway</li>
        <li><i class="fa-solid fa-check"></i>  tandem paragliding available</li>
      </ul>
      <button class="btn-medium">Book now</button>
    </div>
  </div>
</div>
