<div class="invoice">
	<header>
		<section>
			<h1>Resumen del alquiler</h1>
			<span>{{ formatToday }}</span>
		</section>

		<section>
			<span>89 289</span>
		</section>
	</header>

	<main>
		<section>
		</section>

		<section>
			<figure>
				<span><strong>Nombre:</strong></span>
				<span>{{ bookingData.name }}</span>
			</figure>

			<figure>
				<span><strong>Email:</strong></span>
				<span>{{ bookingData.email }}</span>
			</figure>

			<figure>
				<span><strong>Teléfono:</strong></span>
				<span>{{ bookingData.phone }}</span>
			</figure>

			<figure>
				<span><strong>Número de huéspedes:</strong></span>
				<span>{{ bookingData.guests }}</span>
			</figure>

			<figure>
				<span><strong>Fechas de entrada:</strong></span>
				<span>{{ bookingData.dateIn }}</span>
			</figure>

			<figure>
				<span><strong>Fechas de salida:</strong></span>
				<span>{{ bookingData.dateOut }}</span>
			</figure>
		</section>

		<section>
			<span>Total</span>
			<span>{{ bookingData.price }}€</span>
		</section>
	</main>

	<section class="footer">
		<a href="#0">Later</a>
		<a href="#0">Pay Now</a>
	</section>
</div>
