<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
	{{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper [linear]="isLinear" #stepper>
	<mat-step [stepControl]="firstFormGroup">
		<form [formGroup]="firstFormGroup">
			<ng-template matStepLabel>Confirma tus datos</ng-template>
			<div class="row m-2">
				<div class="wrapper col-5 p-3">
					<div class="d-flex justify-content-between">
						<p class="title">Nombre: </p>
						<p class="info">{{ bookingForm.value.name }}</p>
					</div>
					<div class="d-flex justify-content-between text-wrap">
						<p class="title">Email: </p>
						<p class="info">{{ bookingForm.value.email }}</p>
					</div>
					<div class="d-flex justify-content-between">
						<p class="title">Teléfono: </p>
						<p class="info">{{ bookingForm.value.phone }}</p>
					</div>
					<div class="d-flex justify-content-between">
						<p class="title">Número de huéspedes: </p>
						<p class="info">{{ bookingForm.value.guests }}</p>
					</div>
					<div class="d-flex justify-content-between">
						<p class="title">Llegada: </p>
						<p class="info">{{ formattedDates['dateIn'] }}</p>
					</div>
					<div class="d-flex justify-content-between">
						<p class="title">Salida: </p>
						<p class="info">{{ formattedDates['dateOut'] }}</p>
					</div>
					<div class="d-flex justify-content-between">
						<p class="title">Precio: </p>
						<p class="info">{{ bookingForm.value.price }}</p>
					</div>
				</div>
			</div>
			<div>
				<button matStepperNext class="btn-super-small" (click)="confirmingData()">Siguiente</button>
			</div>
		</form>
	</mat-step>
	<mat-step [stepControl]="secondFormGroup" label="Fill out your address">
		<!-- stripe-payment.component.html -->
		<form (ngSubmit)="createStripeToken()" class="checkout">
			<label for="card-info">Card Info</label>
			<div id="form-field">
				<div id="card-info" #cardInfo></div>
				<button matStepperPrevious class="btn-super-small" (click)="confirmingData()">Modificar datos</button>
				<button id="submit-button" type="submit" class="btn-super-small">
					Pagar {{ bookingForm.value.price }}€
				</button>
				<mat-error id="card-errors" role="alert" *ngIf="cardError">
					<mat-icon style="color: #f44336">cancel</mat-icon>
					&nbsp;{{ cardError }}
				</mat-error>
			</div>
		</form>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Done</ng-template>
		<p>You are now done.</p>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button (click)="stepper.reset()">Reset</button>
		</div>
	</mat-step>
</mat-stepper>
