<mat-stepper [linear]=true #stepper>
	<mat-step [completed]=false>
		<ng-template matStepLabel>Realiza la reserva</ng-template>
		<div class="row m-0">
			<div class="invoice col-6">
				<header>
					<section>
						<h1>Resumen del alquiler</h1>
						<span>{{ formatToday }}</span>
					</section>
					<section>
						<span>89 289</span>
					</section>
				</header>
				<main>
					<section class="invoice-details">
						<figure>
							<span><strong>Nombre:</strong></span>
							<span>{{ bookingData.name }}</span>
						</figure>
						<figure>
							<span><strong>Email:</strong></span>
							<span>{{ bookingData.email }}</span>
						</figure>
						<figure>
							<span><strong>Teléfono:</strong></span>
							<span>{{ bookingData.phone }}</span>
						</figure>
						<figure>
							<span><strong>Número de huéspedes:</strong></span>
							<span>{{ bookingData.guests }}</span>
						</figure>
						<figure>
							<span><strong>Fechas de entrada:</strong></span>
							<span>{{ bookingData.dateIn }}</span>
						</figure>
						<figure>
							<span><strong>Fechas de salida:</strong></span>
							<span>{{ bookingData.dateOut }}</span>
						</figure>
					</section>

					<section class="invoice-price">
						<figure>
						<span>Total</span>
						<span>{{ bookingData.price }}€</span>
					</figure>
					</section>
				</main>

				<section class="footer">
					<button class="btn-black" (click)="scrollTo('booking')">Cambiar datos</button>
				</section>
			</div>
			<div class="invoice col-5 ms-2">
				<header>
					<section>
						<h1>Datos de la tarjeta</h1>
					</section>
				</header>
				<section class="payment">
					<form [formGroup]="firstFormGroup" (ngSubmit)="createStripeToken()" class="checkout">
						<div class="dots">
							<label for="card-info">Card Info</label>
							<div id="form-field">
								<div id="card-info" #cardInfo></div>
								<mat-error id="card-errors" role="alert" *ngIf="cardError">
									<mat-icon style="color: #f44336">cancel</mat-icon>
									&nbsp;{{ cardError }}
								</mat-error>
							</div>
						</div>
						<button id="submit-button" type="submit" class="btn-big mt-5">Pagar ahora</button>
					</form>
				</section>
			</div>
		</div>
	</mat-step>
	<mat-step [stepControl]="secondFormGroup" label="Fill out your address">
		<!-- stripe-payment.component.html -->
		<form (ngSubmit)="createStripeToken()" class="checkout">
			<label for="card-info">Card Info</label>
			<div id="form-field">
				<div id="card-info" #cardInfo></div>
				<button matStepperPrevious class="btn-super-small">Previous</button>
				<button id="submit-button" type="submit" class="btn-super-small">
					Pagar {{ bookingData.price }}€
				</button>
				<mat-error id="card-errors" role="alert" *ngIf="cardError">
					<mat-icon style="color: #f44336">cancel</mat-icon>
					&nbsp;{{ cardError }}
				</mat-error>
			</div>
		</form>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Done</ng-template>
		<p>You are now done.</p>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button (click)="stepper.reset()">Reset</button>
		</div>
	</mat-step>
</mat-stepper>
