<div class="testimonials">
  <div class="container-center">
    <h2>How to plan a camping trip</h2>
    <section class="row">
      <div class="opinion col-md-6 col-sm-11">
        <div class="rounded-image img1 col-md-6 col-sm-12" aria-hidden="true"></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Know Your Limits</h5>
          <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit
            ultrices.</p>
        </div>
      </div>
      <div class="opinion col-md-6 col-sm-11">
        <div class="rounded-image img2 col-md-6 col-sm-12" aria-hidden="true"></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Know Your Limits</h5>
          <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit
            ultrices.</p>
        </div>
      </div>
      <div class="opinion reverse col-md-6 col-sm-11">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Know Your Limits</h5>
          <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit
            ultrices.</p>
        </div>
        <div class="rounded-image img3 col-md-6 col-sm-12" aria-hidden="true"></div>
      </div>
      <div class="opinion reverse col-md-6 col-sm-11">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Know Your Limits</h5>
          <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit
            ultrices.</p>
        </div>
        <div class="rounded-image img4 col-md-6 col-sm-12" aria-hidden="true"></div>
      </div>
    </section>
  </div>
</div>
