.testimonials{
	padding: 60px 9em 80px 9em;
}
.content{
	margin: 60px;
}
.row{
	justify-content: space-between;
}
.opinion{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.opinion-text{
	text-align: start;
}
.rounded-image {
	width: 238px;
	height: 238px;
	background-color: #a79770;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
}
.img1{
	background-image: url("../../assets/images/girsltent.jpg");
}
.img2{
	background-image: url("../../assets/images/backpack.jpg");
}
.img3{
	background-image: url("../../assets/images/girltravel.jpg");
}
.img4{
	background-image: url("../../assets/images/tent2.jpg");
}
