<div class="home">
	<div class="container-center">
		<h1>Book your outdoor adventure</h1>
		<p class="text-header">
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			Duis aute irure dolor in reprehenderit in voluptate velit
		</p>
		<div class="row-buttons-container">
			<div class="pe-2 ps-4 mb-3 m-0">
				<button class="btn-small">Book now</button>
			</div>
			<div class="ps-2 m-0">
				<button class="btn-white">How to camp</button>
			</div>
		</div>
		<div class="row row-card">
			<div class="card-holder col-lg-3 col-md-5 col-sm-5">
				<div class="card">
					<img class='card-img' src="assets/images/trecking.png" />
					<h4 class="card-text">Trekking</h4>
				</div>
			</div>
			<div class="card-holder col-lg-3 col-md-5 col-sm-5">
				<div class="card">
					<img class='card-img' src="assets/images/7401471-4294aa1a.png" />
					<h4 class="card-text">Camping</h4>
				</div>
			</div>
			<div class="card-holder col-lg-3 col-md-5 col-sm-5">
				<div class="card">
					<img class='card-img' src="assets/images/931077-6ca510ad.png" />
					<h4 class="card-text">Beach Tents</h4>
				</div>
			</div>
			<div class="card-holder col-lg-3 col-md-5 col-sm-5">

				<div class="card">
					<img class='card-img' src="assets/images/2560416-11b1db70.png" />
					<h4 class="card-text">News &amp; Events</h4>
				</div>
			</div>
		</div>
	</div>
</div>
